<%- include('partials/header') %>
<%- include('partials/navbar') %>
  <h1 class="text-center display-4 my-5">Save your favorite Characters</h1>
  <div class="container container-fluid">
    <ul id="list-characters" class="list-group mb-5"></ul>
  </div>
  <script src="scripts.js"></script>
<%- include('partials/footer') %>