<%- include('partials/header') %>
<%- include('partials/navbar') %>

  <h1 class="text-center display-4 my-5">Welcome <%= user[0].user_name %></h1>

  <div class="alert alert-warning alert-dismissible fade show mx-5" role="alert">
    <strong>Coming soon!</strong> The list of your favs will be displayed here.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

  <ul>
    
  </ul>

<%- include('partials/footer') %>